$primary-color: #fab481;
$secondary-color: #86e4d1;
$background-color: #3b3b3b;
$text-color: #f5f5f5;
$fog: #3b3b3b3d;

.Body {
  background: $background-color;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-areas: "left right";
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 80vh;
  column-gap: 5px;
  grid-auto-columns: 50%;
  padding: 0px;
  margin: 0px;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
}
.ScoreSection {
  text-align: left;
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
  border-radius: 5px;
  .Title {
    padding-left: 5px;
  }
}
.Results {
  font-size: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 20px;
  padding: 10px 10px 30px 10px;
  background-color: rgba(255, 255, 255, 0.759);
  color: #495057;
  display: inline-block;
  border-radius: 5px;
}
.line {
  text-align: left;
}
.letter {
  display: inline-block;
  animation: waviy 1s infinite alternate;
}

.letter {
  animation-delay: calc(0.1s * var(--i));
}

.codeForm .FormTray {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codeForm .FormTray textarea {
  resize: none;
  width: 40vw;
  height: 60vh;
  text-align: left;
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 125px;
  background-color: $fog;
  transition: background-color 0.5s ease-out;
}

.FormSubmit {
  margin: auto; // Center in its area
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0px 3px 0px darken($primary-color, 50%);
}

.button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.Cancel {
  background-color: $text-color;
  box-shadow: 0px 3px 0px darken($text-color, 50%);
}
.sharedStyle {
  position: relative;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.codeForm {
  background: $primary-color;
  @extend .sharedStyle;
}

.Score {
  background: $secondary-color;
  @extend .sharedStyle;
  padding-left: 0px;
}

.sharedSideStyle {
  align-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.ResultSide {
  grid-area: right;
  @extend .sharedSideStyle;
}

.FormSide {
  grid-area: left;
  @extend .sharedSideStyle;
}
.sharedTitleStyle {
  font-size: 2vh;
  border: 1px solid $text-color;
  border-radius: 3px;
  color: $text-color;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  padding: 5px;
  padding-left: 20px;
  text-align: left;
}
.ResultTitle {
  @extend .sharedTitleStyle;
}
.FormTitle {
  margin: auto; // Center in its area
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.FormLabel {
  @extend .sharedTitleStyle;
}
