input button {
  background-color: #c0c0c0;
  border: 1px solid #000;
  border-top-color: #808080;
  border-left-color: #808080;
  padding: 5px 10px;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 1em;
  color: #000;
  cursor: pointer;

  &:active {
    border: 1px solid #000;
    border-top-color: #c0c0c0;
    border-left-color: #c0c0c0;
  }
}
